.image-container {

  width: 100%;
  position: relative !important;
}

.image-container>img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

img {
  width:auto;
  height:auto;
}

a {
  cursor: pointer;
}
